extends ../../common/admin-layout

block content
    h1.text-center Add User
    .row.justify-content-center
        form.col-6(action="/admin/users", method="post")
            .mb-3
                label.form-label(for='name') Full Name
                input#name.form-control(name="name" type='text' placeholder='input a name')
            .mb-3
                label.form-label(for='username') Username
                input#email.form-control(name="username" type='text' placeholder='Input a Username')
            .mb-3
                label.form-label(for='password') Password
                input#mobile.form-control(name="password" type='text' placeholder='Input a Password')
            .mb-3
                label.form-label(for='role') Role
                select#role.form-select(name="role")
                    option(value="admin") Admin
                    option(value="user", selected) User
            .mb-3
                button.btn.btn-success(type="submit") Save
