extends ../../common/admin-layout

block content
    - console.log(added)
    if req.added
        .alert.alert-success.p-3 Data Added Successfully
    if req.updated
        .alert.alert-success.p-3 Data Updates Successfully
    if req.deleted
        .alert.alert-success.p-3 Data Deleted Successfully

    .row
        .col
            h1.text-left Contact List
        .col.text-end
            a.btn.btn-info(href="/admin/users/add") Add new user
    .row.justify-content-center
        table.table
            tr
                th Name
                th username
                th role
                th Actions
            each user in users
                tr
                    td 
                        img(src='/uploads/'+ (user.image) width=80)
                    td=user.name
                    td=user.username
                    td=user.role
                    td
                        a.btn.btn-primary(href="/admin/users/show/"+user.name) Show
                        a.btn.btn-warning(href="/admin/users/"+user._id+'/edit') Edit
                        a.btn.btn-danger(href="/admin/users/"+user._id+'/delete') Delete