extends ../../common/admin-layout

block content
    h1.text-center Contact List
    .row.justify-content-center
        table.table
            tr
                th Image
                th Name
                th Username
                th Role
            tr
                td
                    img(src='/uploads/'+ (user.image) width=80)
                td=user.name
                td=user.username
                td=user.role