extends ../layout

block content
    //- if req.added
    //-     .alert.alert-success.p-3 Data Added Successfully
    //- if req.deleted
    //-     .alert.alert-success.p-3 Data Deleted Successfully
    h1.text-center Contact List
    .row.justify-content-center
        table.table
            tr
                th Name
                th Email
                th Mobile
                th Message
                th Actions
            each contact in contacts
                tr
                    td=contact.name
                    td=contact.email
                    td=contact.mobile
                    td=contact.message
                    td
                        a.btn.btn-primary(href="/contacts/"+contact.name) Show
                        a.btn.btn-warning(href="/contacts/"+contact._id+'/edit') Edit
                        a.btn.btn-danger(href="/contacts/"+contact._id+'/delete') Delete